/******* Browser Reset ******/
/***************************/

* {
  padding: 0px;
  margin: 0px;
  text-decoration: none;
}

*,
*::before,
*::after {
  box-sizing: border-box;
}

html,
body {
  min-height: 100vh;
}

img,
svg {
  max-width: 100%;
  display: block;
}

ul,
li {
  list-style: none;
}

button,
input,
textarea,
select {
  font: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  text-wrap: balance;
}

a {
  text-decoration: none;
  color: inherit;
}

a:visited {
  color: inherit;
}

a:hover,
a:active {
  text-decoration: none;
}

/******* End of Reset ******/
/***************************/

@import url("https://fonts.googleapis.com/css2?family=Poppins%3Awght%40100%3B200%3B300%3B400%3B500%3B600&display=swap%27%29%3B");

* {
  font-family: "Poppins", sans-serif;
  border: none;
  outline: none;
  text-decoration: none;
}

body {
  background-color: black;
  color: white;
  overflow-x: hidden;
}

/********* Header/Navigation *******/

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 2rem 9%;
  background-color: black;
  opacity: 85%;
  filter: drop-shadow(10px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 3rem;
  color: rgb(0, 171, 0);
  font-weight: 800;
  cursor: pointer;
  transition: 0.5s ease;
}

.logo:hover,
.hamburger-btn i:hover {
  transform: scale(1.1);
}

nav a,
.menu-btn {
  font-size: 1.3rem;
  color: white;
  margin-left: 2rem;
  font-weight: 500;
  transition: 0.3s ease;
  border-bottom: 3px solid transparent;
}

nav a:hover,
nav a.active,
.menu-btn:hover {
  color: rgb(0, 171, 0);
  border-bottom: 3px solid rgb(0, 171, 0);
}

@media (width <= 700px) {
  nav {
    position: absolute;
    display: none;
    top: 0;
    right: 0;
    width: 40%;
    border-left: 3px solid rgb(0, 171, 0);
    border-bottom: 3px solid rgb(0, 171, 0);
    border-bottom-left-radius: 2rem;
    padding: 1rem solid;
    background-color: black;
    border-top: 0.1rem solid black;
  }

  nav.active {
    display: block;
  }

  nav a {
    display: block;
    font-size: 2rem;
    margin: 3rem 0;
  }

  nav a:hover,
  nav a.active {
    padding: 1rem;
    border-radius: 0.5rem;
    border-bottom: 0.5rem solid rgb(0, 171, 0);
  }
}

@media (width > 700px) {
  .hamburger-btn {
    display: none;
  }
}

.hamburger-btn i {
  display: inline-flex;
  justify-content: center;
  font-size: 2rem;
  transition: 0.3s ease;
  color: rgb(0, 171, 0);
}

.hamburger-btn i:hover {
  cursor: pointer;
  transform: scale(1.1);
}

/******* Hamburger menu *******/

/* prevent scrolling when hamburger menu is open */
body.no-scroll {
  overflow: hidden;
}

.hamburger-menu {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.7);
  backdrop-filter: blur(8px);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  opacity: 0;
  visibility: hidden;
  transition: opacity 0.3s ease, visibility 0.3s ease;
  z-index: 100;
}

.hamburger-menu.active {
  opacity: 1;
  visibility: visible;
}

.hamburger-menu ul {
  width: 50vw;
  height: 50vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
}

.close-hamburger-btn {
  position: absolute;
  top: 4%;
  right: 9%;
  font-size: 2.5rem;
  background: none;
  border: none;
  color: white;
}

.close-hamburger-btn:hover {
  color: rgb(0, 171, 0);
  cursor: pointer;
  transition: 0.3s ease;
  border-bottom: 0px;
  font-size: 2.7rem;
}

/************** Section containers ***********/

.section {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: 0px auto;
}

.section-heading {
  font-size: 2rem;
  width: 100%;
  width: clamp(50px, 100%, 880px);
  display: flex;
  align-items: center;
  margin: 10px 0px 40px;
  white-space: nowrap;
}

.section-heading::after {
  content: "";
  display: block;
  width: 300px;
  height: 1px;
  margin-left: 20px;
  background-color: white;
}

.section p {
  font-size: 1rem;
}

@media (width <= 700px) {
  .section-heading {
    width: 400px;
  }
}

@media (width < 500px) {
  .section-heading {
    width: 100%;
  }
}

/*********** Home ***************/

.home-section {
  height: 100vh;
  justify-content: center;
  width: 80vw;
}

.home-section h1 {
  font-size: 8.5vw;
  font-size: clamp(30px, 7.5vw, 70px);
  white-space: nowrap;
}

.home-section-h1-first {
  opacity: 0;
  animation: slideInFromBottom 1s ease-in-out 0.5s forwards;
}

.home-section-h1-second {
  opacity: 0;
  animation: slideInFromBottom 1s ease-in-out 1s forwards;
}

.home-section h1 span {
  color: rgb(0, 171, 0);
}

.home-bio {
  margin-top: 10px;
  width: clamp(250px, 100%, 700px);
}

.home-section p {
  opacity: 0;
  text-align: center;
  font-size: 1rem;
  margin: 0 auto;
  animation: slideInFromBottom 1s ease-in-out 1.5s forwards;
}

.home-btn {
  opacity: 0;
  animation: slideInFromBottom 1s ease-in-out 2s forwards;
}

/*********** About **************/

.about-section {
  padding-top: 120px;
  width: clamp(300px, 80vw, 1000px);
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
}

.about-content p {
  margin-bottom: 20px;
  max-width: 600px;
  line-height: 25px;
}

.about-description {
  font-size: 2rem;
}

.about-image {
  margin: 40px auto;
  max-width: 275px;
  height: auto;
}

.about-image img {
  border-radius: 20%;
}

.about-description span {
  color: rgb(0, 171, 0);
}

@media (width > 700px) {
  .about-content {
    display: flex;
    gap: 5%;
  }

  .about-image {
    max-width: 275px;
    height: auto;
    margin: 0px;
  }

  .about-image img {
    border-radius: 20%;
  }
}

/*********** Projects *************/

.projects-section {
  padding-top: 130px;
  width: clamp(300px, 80vw, 1000px);
  line-height: 25px;
  animation: fade-in linear forwards;
  animation-timeline: view();
  animation-range: entry;
  /* outline: 3px solid orange; */
}

.project-container {
  margin-top: 50px;
  /* outline: 3px solid red; */
  width: clamp(300px, 80vw, 880px);
  display: grid;
  grid-template-areas: "one two" "three four" "five six";
}

.project-section {
  margin-bottom: 40px;
  margin-bottom: 150px;
}

.project-section:nth-child(1) {
  grid-area: one;
}
.project-section:nth-child(2) {
  grid-area: two;
}
.project-section:nth-child(3) {
  grid-area: three;
}
.project-section:nth-child(4) {
  grid-area: four;
}
.project-section:nth-child(5) {
  grid-area: five;
}
.project-section:nth-child(6) {
  grid-area: six;
}

.project-content h4 {
  color: rgb(0, 171, 0);
  font-size: 1.5rem;
  text-align: center;
}

.project-content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  /* outline: 3px solid orange; */
  width: 80%;
  margin: 0px auto;
}

.project-img-container img {
  width: 100%;
  height: auto;
  border-radius: 10px;
  outline: 3px solid grey;
}

.project-tech-list ul {
  display: flex;
  gap: 10px;
  margin-top: 10px;
  flex-wrap: wrap;
}

.project-tech-list li {
  font-size: 0.75rem;
  padding: 5px;
  background-color: rgba(68, 68, 68, 0.6);
  border-radius: 20px;
}

@media (width <= 700px) {
  .project-container {
    grid-template-areas: "one" "two" "four" "three" "five" "six";
    width: 400px;
  }

  .project-section {
    margin-bottom: 20px;
  }

  .project-tech-list ul {
    justify-content: center;
  }
}

@media (width < 500px) {
  .section-heading {
    width: 100%;
  }
  .project-container {
    grid-template-areas: "one" "two" "four" "three";
    width: 100%;
  }
}

/******** Icons and Buttons *******/

.social-icons {
  width: 100px;
  display: flex;
  justify-content: space-around;
}

.social-icons a {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  width: 2.5rem;
  height: 2.5rem;
  background-color: transparent;
  border: 0.2rem solid rgb(0, 171, 0);
  font-size: 1rem;
  border-radius: 50%;
  transition: 0.3s ease;
  color: white;
}

.social-icons a:hover {
  color: black;
  transform: scale(1.3) translateY(-5px);
  background-color: rgb(0, 171, 0);
  box-shadow: 0 0 25px rgb(0, 171, 0);
}

.email-btn {
  padding: 1vh 1vw;
  min-width: 200px;
  min-height: 80px;
  background-color: black;
  border-radius: 10px;
  font-size: 1.6rem;
  color: rgb(0, 171, 0);
  box-shadow: 0px 0px 15px rgb(183, 183, 236);
  letter-spacing: 0.1rem;
  font-weight: 800;
  border: 2px solid rgb(0, 171, 0);
  transition: 0.3s ease;
  cursor: pointer;
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.email-btn:hover {
  transform: scale3d(1.03);
  background-color: rgb(0, 171, 0);
  box-shadow: 0 0px 25px rgb(0, 171, 0);
  color: black;
}

/********** Footer *********/

.footer-section {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
  padding: 50px 0px 20px 0px;
}

.copyright {
  font-size: 1rem;
  margin-top: 20px;
}

/********* Animations ********/

@keyframes fade-in {
  from {
    scale: 0.5;
    opacity: 0;
  }
  to {
    scale: 1;
    opacity: 1;
  }
}

@keyframes slideInFromBottom {
  0% {
    opacity: 0;
    transform: translate(0, 100%);
  }
  100% {
    opacity: 1;
    transform: translate(0, 0);
  }
}
